body {
    margin: 0;
    padding: 0;
    font-family: 'sacramento';
    background: linear-gradient(to right,#ffddd1,#ee9ca7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

#container {
    background-color:#ffddd1;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 30px  rgba(0, 0, 0, 2);
}

#question {
    font-size: 26px;
    margin-bottom: 20px;
    color:black
}

#option button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 18px;
    margin: 10px auto;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

#yes-button {
    background-color: whitesmoke;
    font-size: 20px;      /* increases text size */
    padding: 10px 23px;   /* increases button size */
    border-radius: 8px;   /* optional: rounded corners */
}

#no-button  {
    background-color: whitesmoke;
    font-size: 20px;      /* increases text size */
    padding: 10px 23px;   /* increases button size */
    border-radius: 8px;   /* optional: rounded corners */
}

#result {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#result img {
    width: 180px;
    display: none;
}
